.main-cointainer__services {
    max-width: 95%;
    margin: 0 auto;

    .main-container__services__title {
        font-size: 5rem;
        font-weight: bold;
        color: $blackColor;
        text-align: center;
        margin: 2rem 0;
    }

    .main-container__services__muralismo {
        font-size: 3.5rem;
        font-weight: bold;
        color: $blackColor;
        text-align: center;
        margin: 2rem 0;
    }

    .main-container__services__muralismo__dropdown-1, .main-container__services__muralismo__dropdown-4 {
        .dropdown__title {
            font-size: 3.5rem;
            font-weight: bold;
            color: $blackColor;
            text-align: center;
            margin: 1rem 0;
            padding: 2rem 0;
            background-color: $secondaryColor;
        }

    }

    .main-container__services__muralismo__dropdown-2 {
        .dropdown__title {
            font-size: 3.5rem;
            font-weight: bold;
            color: $whiteColor;
            text-align: center;
            margin: 1rem 0;
            padding: 2rem 0;
            background-color: $primaryColor;
        }

    }

    .main-container__services__muralismo__dropdown-3 {
        .dropdown__title {
            font-size: 3.5rem;
            font-weight: bold;
            color: $whiteColor;
            text-align: center;
            margin: 1rem 0;
            padding: 2rem 0;
            background-color: $blackColor;
        }

    }


    .dropdown__body {
        display: none;
    }
}